* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
  max-width: 100vw;
  background-color: var(--dark-purple);
}

main {
  padding: 1em 0.2em;
  border-radius: 20px;
  background-color: var(--grey);
}

h1, h2 {
  text-align: center;
  color: var(--dark-purple);
}

button:hover {
  cursor: pointer;
}

.mw70ch {
  max-width: 70ch;
  margin: 2em auto 4em;
}

.error{
  display: block;
  border: 1px solid var(--delete-red);
  border-radius: 3px;
  width: fit-content;
  margin: 0.5em auto 0;
  background-color: var(--error-bg);
  padding: 0.3em;
}

/* VARIABLES */
:root {
  --dark-purple: #211f4b;
  --delete-red: #a13257;
  --error-bg: #ca7994ad;
  --todo-bg: #cfcacf63;
  --grey: #dbdbdb9c;
}

@media (min-width: 600px) {
  main {
    width: 90%;
  margin: auto;
  }
}